<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index of <%= directoryIndexer.getAliasPath() %></title>
    <style type="text/css">
        <%- include('default_directory_indexer.css') %>
    </style>
</head>
<body>
    <h1>Index of <%= directoryIndexer.getAliasPath() %></h1>
    <% if ( directoryIndexer.isSearchEnabled() === true ){ %>
        <form method="get" action="<%= makeLink({}) %>">
            <label for="q">Search for a file in this directory...</label>
            <br />
            <input type="search" placeholder="Search for a file..." value="<%= directoryIndexer.getSearchQuery() %>" name="q" />
            <% for ( const name in _request.query ){ %>
                <% if ( name !== 'q' && name !== 'page' ){ %>
                    <input type="hidden" name="<%= name %>" value="<%= _request.query[name] %>" />
                <% } %>
            <% } %>
        </form>
    <% } %>
    <hr />
    <table>
        <thead>
            <tr>
                <th data-active="<%= directoryIndexer.getCurrentOrder() === 'name' ? 'true' : 'false' %>" data-direction="<%= directoryIndexer.getCurrentOrderDirection() %>">
                    <a href="<%= makeLink({order: 'name', order_direction: ( directoryIndexer.getCurrentOrder() === 'name' && directoryIndexer.getCurrentOrderDirection() === 1 ? '-1' : '1' )}) %>">Filename</a>
                </th>
                <th data-active="<%= directoryIndexer.getCurrentOrder() === 'size' ? 'true' : 'false' %>" data-direction="<%= directoryIndexer.getCurrentOrderDirection() %>">
                    <a href="<%= makeLink({order: 'size', order_direction: ( directoryIndexer.getCurrentOrder() === 'size' && directoryIndexer.getCurrentOrderDirection() === 1 ? '-1' : '1' )}) %>">Size</a>
                </th>
                <th data-active="<%= directoryIndexer.getCurrentOrder() === 'creation_date' ? 'true' : 'false' %>" data-direction="<%= directoryIndexer.getCurrentOrderDirection() %>">
                    <a href="<%= makeLink({order: 'creation_date', order_direction: ( directoryIndexer.getCurrentOrder() === 'creation_date' && directoryIndexer.getCurrentOrderDirection() === 1 ? '-1' : '1' )}) %>">Creation date</a>
                </th>
                <th data-active="<%= directoryIndexer.getCurrentOrder() === 'last_modified_date' ? 'true' : 'false' %>" data-direction="<%= directoryIndexer.getCurrentOrderDirection() %>">
                    <a href="<%= makeLink({order: 'last_modified_date', order_direction: ( directoryIndexer.getCurrentOrder() === 'last_modified_date' && directoryIndexer.getCurrentOrderDirection() === 1 ? '-1' : '1' )}) %>">Last modified date</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for ( let i = 0 ; i < files.length ; i++ ){ %>
                <tr>
                    <td>
                        <a href="<%= files[i].url %>">
                            <%= files[i].directory === true && files[i].filename !== '../' ? ( files[i].filename + '/' ) : files[i].filename %>
                        </a>
                    </td>
                    <% if( files[i].stat === null ){ %>
                        <td colspan="3"></td>
                    <% }else{ %>
                        <td><%= files[i].directory === true ? '-' : files[i].size %></td>
                        <td>
                            <span class="date-full"><%= files[i].stat.birthtime.toLocaleDateString('en', {dateStyle: 'full', timeStyle: 'medium'}) %></span>
                            <span class="date-short"><%= files[i].stat.birthtime.toLocaleDateString('en', {dateStyle: 'short', timeStyle: 'short'}) %></span>
                        </td>
                        <td>
                            <span class="date-full"><%= files[i].stat.mtime.toLocaleDateString('en', {dateStyle: 'full', timeStyle: 'medium'}) %></span>
                            <span class="date-short"><%= files[i].stat.mtime.toLocaleDateString('en', {dateStyle: 'short', timeStyle: 'short'}) %></span>
                        </td>
                    <% } %>
                </tr>
            <% } %>
            <% if( files.length === 0 ){ %>
                <tr>
                    <td colspan="4">
                        <p style="text-align:center;">No file found</p>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <hr />
    <p class="signature">Lala.js/<%= VERSION %></p>
    <% if ( directoryIndexer.isPagingEnabled() === true && directoryIndexer.getPages() > 1 ){ %>
        <ul class="page-list">
            <% if ( directoryIndexer.getCurrentPage() !== 1 ){ %>
                <li class="page-first">
                    <a href="<%= makeLink({page: 1}) %>">&lt;&lt;</a>
                </li>
                <li class="page-prev">
                    <a href="<%= makeLink({page: directoryIndexer.getCurrentPage() - 1}) %>">&lt;</a>
                </li>
            <% } %>
            <% for ( let i = ( directoryIndexer.getCurrentPage() - 3 ) ; i < directoryIndexer.getCurrentPage() ; i++ ){ %>
                <% if ( i > 0 ){ %>
                    <li class="page-number">
                        <a href="<%= makeLink({page: i}) %>"><%= i %></a>
                    </li>
                <% } %>
            <% } %>
            <li class="page-current">
                <a href="javascript:void(0);"><%= directoryIndexer.getCurrentPage() %></a>
            </li>
            <% for ( let i = ( directoryIndexer.getCurrentPage() + 1 ) ; i <= directoryIndexer.getPages() ; i++ ){ %>
                <li class="page-number">
                    <a href="<%= makeLink({page: i}) %>"><%= i %></a>
                </li>
            <% } %>
            <% if ( directoryIndexer.getCurrentPage() !== directoryIndexer.getPages() ){ %>
                <li class="page-next">
                    <a href="<%= makeLink({page: directoryIndexer.getCurrentPage() + 1}) %>">&gt;</a>
                </li>
                <li class="page-last">
                    <a href="<%= makeLink({page: directoryIndexer.getPages() }) %>">&gt;&gt;</a>
                </li>
            <% } %>
        </ul>
    <% } %>
</body>
</html>
